body { padding: 20px; background-color: #fff; color: #333; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }
article { margin: 20px auto; width: 480px; }

a { text-decoration: none; }
a:link { color: #aa0; }
a:visited { color: #990; }
a:hover { color: #770; text-decoration: underline; }
a:active { color: #aa0; }

h1 { font-size: 380%; margin-left: -3px }
h1 .by { font-size: 40%; }
h2 { font-size: 150%; padding: 0; margin: 0 }

ul.styled { list-style-type: none; }
ul.styled li:before { content: "- "; font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace; }
ul.styled li:hover:before { content: "| "; color: #aa0; }
ul.focus  li { color: #888; }
ul.inline li:first-child { padding-left: 0 }
ul.inline li:before { content: "- "; }

p { margin: 0; }

section header { padding: 0; margin: 0 }
section header h3 { padding: 0; margin: 0 }

.email .name:after { content: "@" }
.gobeering { text-align: center; }

a.asciidicks .dick { display: none }
a.asciidicks:hover { text-decoration: none }
a.asciidicks:hover .name { display: none }
a.asciidicks:hover .dick { display: inline }
