* { margin: 0; padding: 0; } 
@font-face {
  font-family: 'BlackoutMidnight';
  src: url('type/Blackout-Midnight-webfont.eot');
  src: url('type/Blackout-Midnight-webfont.eot?iefix') format('eot'),
       url('type/Blackout-Midnight-webfont.woff') format('woff'),
       url('type/Blackout-Midnight-webfont.ttf') format('truetype'),
       url('type/Blackout-Midnight-webfont.svg#webfontVDQbtLmu') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 20px/1.2 "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #333;
  background: #fff;
  margin: 0;
  padding: 30px;
}
#rapper { width: 670px; height: 470px; margin: 0 auto; }
a { text-decoration: none; }
a:link { color: #36c; }
a:visited { color: #13a; }
a:hover { color: #33A; text-decoration: underline; }
a:active { color: #aa0; }
h1 { font: 450%/1 BlackoutMidnight, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }
h1 a:link, h1 a:visited { color: #000; text-decoration: none }
ul { list-style-type: none; }
p { margin: 0; }
#page-header { padding: 20px; text-align: center }
section { padding: 20px; }
section header { padding: 0 33px; font: 100%/1 BlackoutMidnight, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }
.adr {margin-left: -29px}
.adr .heart {width: 29px; visibility: hidden; font: 100% Monaco, "Lucida Console", monospace;}
.adr:hover .heart {visibility: visible}
.email .name:after { content: "@" }
.elsewhere { width: 165px; text-align: right }
.elsewhere header { padding-right: 0 }
.people { width: 380px; text-align: right }
.people header { padding-right: 66px }
.people a { width: 60px; display: inline-block; text-align: right }
.stuff { padding-right: 55px; text-align: right }
.stuff header { padding-right: 154px }
.stuff a { width: 150px; display: inline-block; text-align: right }
.gobeering { text-align: center; }
.url.asciidicks .dick { display: none }
.url.asciidicks:hover { text-decoration: none }
.url.asciidicks:hover .name { display: none }
.url.asciidicks:hover .dick { display: inline }
