---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="pt-14 pb-20 px-10 bg-white dark:bg-slate-950 md:rounded-lg mb-20 shadow-lg">
  <article class="prose md:prose-md prose-slate dark:prose-invert">
    <h1>{title}</h1>
    <slot />
  </article>
</div>