<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/tailwind.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/highlight.css" | relative_url }}">
  </head>
  <body class="bg-stone-100 dark:bg-slate-800 text-slate-900 dark:text-white">
    <div class="min-h-screen flex flex-col">
      <header class="flex flex-row w-full max-w-3xl mx-auto px-8 py-8 justify-between items-center">
        <h1 class="text-4xl font-bold">
          <a href="/">{{ site.title }}</a>
        </h1>
        <nav class="text-lg">
          <ul class="flex space-x-4">
            <li><a href="/" class="no-underline">About</a></li>
          </ul>
        </nav>
      </header>
      <main class="max-w-full lg:max-w-screen-xl mx-auto px-8 mb-20">

        {{ content }}
      </main>
    </div>
    <script type="text/javascript">
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19274402-1']);
        _gaq.push(['_setDomainName', '.martinemde.com']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
